/* Стилизация кнопки */

.button {
    font-family: 'Roboto', sans-serif;
    width: 189px;
    height: 48px;
    border-radius: 8px;
}

.button-primary {
    border: 0;
    color: var(--white);
    background-color: var(--primary);
}

.button-disabled{
    opacity: 50%;
}

.button-secondary {
    border: 0;
    color: var(--white);
    background-color: var(--secondary);
}

.button-alternate {
    border: 1px solid var(--grey-3);
    color: var(--black);
    background-color: var(--white);
}

.button-alternate-disabled {
    opacity: 30%;
    color: var(--grey-4);
    border: 1px solid var(--grey-3);
    background-color: var(--white);
}