/* Стилизация аккордеона */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: Inter, serif;
}

details > summary {
    list-style-image: url("../../assets/images/arrow-down.png");
}

details[open] > summary {
    list-style-image: url("../../assets/images/arrow-up.png");
}

details {
    width: 730px;
    border: 1px solid gray;
    border-radius: 1em;
    padding: 5px;
    margin-bottom: 10px;
}

details[open] > summary {
    margin-bottom: 0.5rem;
}

.accordion {
    background-color: var(--white);
    cursor: pointer;
    padding: 18px;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.accordion-button {
    float: right;
}

.accordion-text{
    width: 649px;
    height: 48px;
    color: var(--grey-4);
}

.layout {
    padding: 0 18px;
    background-color: white;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion__summary::-webkit-details-marker { /* нестандартный псевдоэлемент Google Chrome */
    display: none;
}

.accordion__item {
    margin-bottom: 8px;
}

.accordion__item:last-child {
    margin-bottom: 0;
}