.histogram__frame {
    padding: 16px 24px 24px 26px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    background-color: var(--white);
}

.histogram__statistic {
    font-family: Inter, sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.histogram__title {
    color: var(--black);
    opacity: 80%;
    font-size: 16px;
}

.histogram__link {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    padding: 5px 0 0 0;
    line-height: 24px;
    flex-basis: 40%;
    text-decoration: none;
    color: var(--light_blue);
}

.histogram__counter {
    color: var(--black);
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
}

.histogram__columns {
    display: flex;
    height: 50px;
    margin-top: 39px;
    align-items: flex-end;
    grid-gap: 1px;
}

.histogram__column {
    flex-grow: 1;
    background-color: var(--light_blue);
}